<!doctype html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nc/thymeleaf/layout">
  <head>
    <meta name="author" content="Nicole Santos">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Excluir</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}" type="text/css" media="all">
  </head>
  <body>
    <!-- Navbar -->
    <header th:replace="fragments/navbar :: navbar"></header>

    <!-- Conteúdo Principal -->
    <main>
      <div class="container excluir">
        <h2>Deseja excluir <span th:text="${pessoa.nome}"></span>?</h2>
        <div class="button">
            <a class="btn btn-primary" th:href="@{'/excluir?idPessoaDesaparecida=' + ${pessoa.idPessoaDesaparecida}}">Sim</a>
            <a class="btn btn-danger" href="/listar">Não</a>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>

    <!-- Script -->
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>