<!doctype html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nc/thymeleaf/layout">
<head>
  <meta name="author" content="Nicole Santos">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pessoas Cadastradas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{css/estilos.css}" type="text/css" media="all">
</head>
<body>
  <!-- Navbar -->
  <header th:replace="fragments/navbar :: navbar"></header>

  <!-- Conteúdo Principal -->
  <main class="mb-5">
    <div class="container">
      <h1>Pessoas Cadastradas</h1>
      <hr>
      
      <div class="row">
        <div class="listar mb-4" th:each="pessoa : ${pessoas}">
          <figure class="listar-img">
            <img src="img/user.png" alt="">
          </figure>

          <!-- Dados pessoais -->
          <h3>Dados Pessoais</h3>
          <hr>
          <div class="listar-itens">
            <div class="dados">
              <h5>ID:</h5>
              <p th:text="${pessoa.idPessoaDesaparecida}"></p>
            </div>

            <div class="dados">
              <h5>Nome:</h5>
              <p th:text="${pessoa.nome}"></p>
            </div>

            <div class="dados">
              <h5>Gênero:</h5>
              <p th:text="${pessoa.genero}"></p>
            </div>
          </div>

          <div class="dados">
            <h5>Data de Nascimento:</h5>
            <p th:text="${pessoa.dataNascimento}"></p>
          </div>

          <div class="listar-itens">
            <div class="dados">
              <h5>Estado:</h5>
              <p th:text="${pessoa.estado}"></p>
            </div>

            <div class="dados">
              <h5>Cidade:</h5>
              <p th:text="${pessoa.cidade}"></p>
            </div>
          </div>

          <div class="dados">
            <h5>Bairro:</h5>
            <p th:text="${pessoa.bairro}"></p>
          </div>

          <!-- Contato -->
          <h3>Contato</h4>
          <hr>
          <div class="dados">
            <h5>Email:</h5>
            <p th:text="${pessoa.email}"></p>
          </div>

          <div class="dados">
            <h5>Telefone:</h5>
            <p th:text="${pessoa.telefone}"></p>
          </div>

          <div class="listar-button">
            <a class="btn btn-warning" th:href="@{'/alterar/' + ${pessoa.idPessoaDesaparecida}}">Alterar</a>
            <a class="btn btn-danger" th:href="@{'/confirmarExclusao/' + ${pessoa.idPessoaDesaparecida}}">Excluir</a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer th:replace="fragments/footer :: footer"></footer>

  <!-- Script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>
</html>