<!doctype html>
<html lang="pt-br">
  <head>
    <meta name="author" content="Nicole Santos">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="css/estilos.css" type="text/css" media="all">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark mb-3" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="img/computer.png" alt="Imagem" class="logo-img">   
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cadastrar">Cadastrar usuário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listarUsuarios">Listar usuários</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="container">
      <div class="row">
        <h1 class="text-center">Sistema CRUD</h1>

        <!-- O que é CRUD -->
        <h2>O que é CRUD</h2>
        <hr>

        <!-- Imagem -->
        <div class="imagem">
          <img src="img/crud.webp" alt="">
        </div>
        <hr>

        <p>
          Um sistema CRUD é um software que implementa as quatro operações fundamentais para o gerenciamento de dados: Create (Criar), Read (Ler), Update (Atualizar) e Delete (Excluir). Esses sistemas são a base para a manipulação de informações em praticamente todas as aplicações digitais, desde redes sociais e aplicativos de tarefas até sistemas bancários, permitindo que usuários e outras aplicações interajam com os dados de forma persistente em bancos de dados. 
        </p>

        <!-- Create -->
        <h2>Create</h2>
        <p>
          Esta etapa envolve a criação de novos dados em um sistema. Por exemplo, quando um usuário se registra em um site, um novo registro é criado em um banco de dados. Essa função é fundamental para iniciar qualquer interação em sistemas que dependem de dados, seja em um site de e-commerce ao adicionar um novo produto ou em um sistema de gerenciamento de usuários ao criar um novo perfil.
        </p>

        <!-- Read -->
        <h2>Read</h2>
        <p>
          A função “Read” é o que permite aos sistemas acessar e exibir dados. Ela é usada cada vez que solicitamos informações, como ao verificar o saldo em uma conta bancária online. Essencialmente, essa função garante que os dados armazenados possam ser recuperados e visualizados quando necessário.
        </p>

        <!-- Update -->
        <h2>Update</h2>
        <p>
          “Update” refere-se à atualização de dados existentes. Esta função é crucial para manter a relevância e a precisão das informações em um banco de dados. Um exemplo clássico seria a atualização de um perfil de usuário em uma rede social, onde as informações pessoais são modificadas.
        </p>

        <!-- Delete -->
        <h2>Delete</h2>
        <p>
          Esta função é usada para remover dados de um sistema. Ela deve ser manuseada com cuidado, pois uma vez que os dados são apagados, podem não ser recuperáveis. Um exemplo seria a exclusão de uma conta de usuário, que remove permanentemente os dados do usuário do sistema.
        </p>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>