<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World em Spring</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/estilos.css" type="text/css" media="all">
</head>
<body>
    <marquee>
        <h1>Olá, Mundo em Spring!</h1>
    </marquee>
    <hr>
    <div class="imagem">
        <figure>
            <img src="img/gato.jpg" alt="Imagem do gato">
        </figure>
    </div>
    <script src="js/script.js"></script>
</body>
</html>