.logo-img {
    width: 48px;
}

h2 {
    margin-bottom: 20px;
}

/* Imagens */
.imagem {
    display: flex;
    justify-content: center;
}

.imagem img {
    margin-bottom: 20px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Formulário */
.form {
    margin-top: 20px;
    width: 450px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.form-label {
    font-weight: 600;
}

/* Tabela */
.listar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listar table {
    width: 80%;
}

.btn-warning {
    color: white;
}

.btn-warning:hover {
    color: white;
}

/* Excluir Usuário */
.excluir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.botoes {
    display: flex;
    gap: 15px;
}
